<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8"/>
  <title>wender_coffee tests</title>
  <link rel="stylesheet" type="text/css" href="jasmine/jasmine.css"/>
  <script type="text/javascript" src="jasmine/jasmine.js"></script>
  <script type="text/javascript" src="jasmine/jasmine-html.js"></script>
  <script type="text/javascript" src="module.js"></script>
  <script type="text/javascript" src="test.js"></script>
  <script type="text/javascript">
    window.onload = function() {
      wender.init();
      jasmine.getEnv().addReporter(new jasmine.HtmlReporter());
      jasmine.getEnv().execute();
    }
  </script>
</head>
<body>
  <div id="suite"></div>
</body>
</html>
